In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from collections import Counter
from sklearn.externals import joblib

from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import confusion_matrix

import xgboost
%matplotlib inline

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
train.shape

(647054, 7)

In [ ]:
# http://blog.8thandwalton.com/2014/06/supplier-glossary-fineline/

In [4]:
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [5]:
test.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,1,Friday,72503389714,1,SHOES,3002
1,1,Friday,1707710732,1,DAIRY,1526
2,1,Friday,89470001026,1,DAIRY,1431
3,1,Friday,88491211470,1,GROCERY DRY GOODS,3555
4,2,Friday,2840015224,1,DSD GROCERY,4408

In [ ]:
#Space for EDA
#train[pd.isnull(train.FinelineNumber)]

In [6]:
train_y = train.loc[:, ['VisitNumber', 'TripType']]
train_y.drop_duplicates('VisitNumber', inplace=True)

In [7]:
train_y.head() #This will end up being y labels

    VisitNumber  TripType
0             5       999
1             7        30
3             8        26
26            9         8
29           10         8

In [8]:
train.drop(['TripType'], axis = 1, inplace = True)

In [61]:
test_y_cols = test.VisitNumber
test_y_cols.drop_duplicates(inplace = True)
#test_y_cols = test_y_cols.values

In [18]:
train.Upc.fillna(-100, inplace=True)
train.DepartmentDescription.fillna('Unknown', inplace=True)
train.FinelineNumber.fillna(-100, inplace=True)

test.Upc.fillna(-100, inplace=True)
test.DepartmentDescription.fillna('Unknown', inplace=True)
test.FinelineNumber.fillna(-100, inplace=True)

In [19]:
train['FinelineNumber'] = train['FinelineNumber'].astype('int')
test['FinelineNumber'] = test['FinelineNumber'].astype('int')

In [20]:
train['DeptItems'] = train.DepartmentDescription +' ' + train.FinelineNumber.astype('str')
test['DeptItems'] = test.DepartmentDescription +' ' + test.FinelineNumber.astype('str')

In [21]:
full_df = pd.concat((train, test))

In [22]:
full_df.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,DeptItems
0,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000,FINANCIAL SERVICES 1000
1,7,Friday,60538815980,1,SHOES,8931,SHOES 8931
2,7,Friday,7410811099,1,PERSONAL CARE,4504,PERSONAL CARE 4504
3,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565,PAINT AND ACCESSORIES 3565
4,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017,PAINT AND ACCESSORIES 1017

In [ ]:
#full_df[full_df.VisitNumber==191319] #Useful to check

In [23]:
visit_days = full_df.loc[:,['VisitNumber','Weekday']]

In [24]:
visit_days.drop_duplicates('VisitNumber', inplace = True)

In [ ]:
#visit_days.set_index('VisitNumber', inplace = True)
#visit_days.sort_index(inplace = True)
#visit_days.reset_index(inplace = True)

In [25]:
visit_days.sort(columns=['VisitNumber'], inplace=True)
visit_days.head()

    VisitNumber Weekday
0             1  Friday
4             2  Friday
8             3  Friday
10            4  Friday
0             5  Friday

In [26]:
visit_days = pd.concat((visit_days, pd.get_dummies(visit_days.Weekday)), axis = 1)
visit_days.drop(['Weekday'], axis = 1, inplace = True)

In [27]:
visit_days.head()

,VisitNumber,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,1,1,0,0,0,0,0,0
4,2,1,0,0,0,0,0,0
8,3,1,0,0,0,0,0,0
10,4,1,0,0,0,0,0,0
0,5,1,0,0,0,0,0,0

In [28]:
full_df.head(10)

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,DeptItems
0,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000,FINANCIAL SERVICES 1000
1,7,Friday,60538815980,1,SHOES,8931,SHOES 8931
2,7,Friday,7410811099,1,PERSONAL CARE,4504,PERSONAL CARE 4504
3,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565,PAINT AND ACCESSORIES 3565
4,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017,PAINT AND ACCESSORIES 1017
5,8,Friday,2006618783,2,PAINT AND ACCESSORIES,1017,PAINT AND ACCESSORIES 1017
6,8,Friday,2006613743,1,PAINT AND ACCESSORIES,1017,PAINT AND ACCESSORIES 1017
7,8,Friday,7004802737,1,PAINT AND ACCESSORIES,2802,PAINT AND ACCESSORIES 2802
8,8,Friday,2238495318,1,PAINT AND ACCESSORIES,4501,PAINT AND ACCESSORIES 4501
9,8,Friday,2238400200,-1,PAINT AND ACCESSORIES,3565,PAINT AND ACCESSORIES 3565

In [29]:
full_df_departments = pd.pivot_table(full_df, values='ScanCount', index='VisitNumber',columns='DepartmentDescription', aggfunc=np.sum)

In [30]:
full_df_departments.fillna(0, inplace=True)
full_df_departments.head()

DepartmentDescription,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,BRAS & SHAPEWEAR,...,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,Unknown,WIRELESS
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
full_df_departments['Totals'] = 0

In [32]:
for department in full_df_departments.columns[:-1]:
    full_df_departments['Totals'] += full_df_departments[department]

In [33]:
full_df_departments.reset_index(inplace = True)

In [34]:
departments_and_time = pd.merge(full_df_departments, visit_days, on='VisitNumber')

In [35]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday']

for c in days:
    departments_and_time[c] = departments_and_time[c] * departments_and_time['Totals']

In [36]:
departments_and_time.set_index('VisitNumber', inplace = True)

In [37]:
X = departments_and_time.loc[train_y.VisitNumber,:].values
y = train_y[['TripType']].values

In [38]:
print X.shape
print y.shape

(95674, 77)
(95674, 1)

In [42]:
enc = LabelEncoder()
y = enc.fit_transform(y.ravel())

In [50]:
X_train, X_val, y_train, y_val = train_test_split(X, y , test_size = 3000, random_state = 1)

In [51]:
xgb = xgboost.XGBClassifier(max_depth = 13, n_estimators = 100,
                        objective='multi:softprob', subsample = .9, colsample_bytree=.8)

xgb.fit(X_train, y_train, eval_set = [(X_val, y_val)], eval_metric = 'mlogloss', early_stopping_rounds=5)

Will train until validation_0 error hasn't decreased in 5 rounds.
[0]	validation_0-mlogloss:2.955780
[1]	validation_0-mlogloss:2.625777
[2]	validation_0-mlogloss:2.399244
[3]	validation_0-mlogloss:2.219026
[4]	validation_0-mlogloss:2.080320
[5]	validation_0-mlogloss:1.962622
[6]	validation_0-mlogloss:1.862833
[7]	validation_0-mlogloss:1.776057
[8]	validation_0-mlogloss:1.701525
[9]	validation_0-mlogloss:1.634656
[10]	validation_0-mlogloss:1.577555
[11]	validation_0-mlogloss:1.528673
[12]	validation_0-mlogloss:1.482949
[13]	validation_0-mlogloss:1.443228
[14]	validation_0-mlogloss:1.403397
[15]	validation_0-mlogloss:1.368354
[16]	validation_0-mlogloss:1.336370
[17]	validation_0-mlogloss:1.309022
[18]	validation_0-mlogloss:1.283050
[19]	validation_0-mlogloss:1.256295
[20]	validation_0-mlogloss:1.233279
[21]	validation_0-mlogloss:1.210621
[22]	validation_0-mlogloss:1.192036
[23]	validation_0-mlogloss:1.172504
[24]	validation_0-mlogloss:1.153572
[25]	validation_0-mlogloss:1.136187
[26]	validation_0-mlogloss:1.121014
[27]	validation_0-mlogloss:1.107286
[28]	validation_0-mlogloss:1.092880
[29]	validation_0-mlogloss:1.081818
[30]	validation_0-mlogloss:1.070499
[31]	validation_0-mlogloss:1.060057
[32]	validation_0-mlogloss:1.050739
[33]	validation_0-mlogloss:1.041792
[34]	validation_0-mlogloss:1.034624
[35]	validation_0-mlogloss:1.026423
[36]	validation_0-mlogloss:1.017725
[37]	validation_0-mlogloss:1.009950
[38]	validation_0-mlogloss:1.003310
[39]	validation_0-mlogloss:0.996768
[40]	validation_0-mlogloss:0.990140
[41]	validation_0-mlogloss:0.984584
[42]	validation_0-mlogloss:0.979152
[43]	validation_0-mlogloss:0.973688
[44]	validation_0-mlogloss:0.968956
[45]	validation_0-mlogloss:0.964239
[46]	validation_0-mlogloss:0.960589
[47]	validation_0-mlogloss:0.956403
[48]	validation_0-mlogloss:0.952855
[49]	validation_0-mlogloss:0.949739
[50]	validation_0-mlogloss:0.945908
[51]	validation_0-mlogloss:0.942668
[52]	validation_0-mlogloss:0.939964
[53]	validation_0-mlogloss:0.936723
[54]	validation_0-mlogloss:0.934204
[55]	validation_0-mlogloss:0.931271
[56]	validation_0-mlogloss:0.928565
[57]	validation_0-mlogloss:0.925451
[58]	validation_0-mlogloss:0.923294
[59]	validation_0-mlogloss:0.920978
[60]	validation_0-mlogloss:0.918041
[61]	validation_0-mlogloss:0.916456
[62]	validation_0-mlogloss:0.914240
[63]	validation_0-mlogloss:0.913060
[64]	validation_0-mlogloss:0.915646
[65]	validation_0-mlogloss:0.914218
[66]	validation_0-mlogloss:0.912758
[67]	validation_0-mlogloss:0.916724
[68]	validation_0-mlogloss:0.923722
[69]	validation_0-mlogloss:0.933043
[70]	validation_0-mlogloss:0.942333
[71]	validation_0-mlogloss:0.953905
Stopping. Best iteration:
[66]	validation_0-mlogloss:0.912758

XGBClassifier(base_score=0.5, colsample_bytree=0.8, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=13,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='multi:softprob', seed=0, silent=True, subsample=0.9)

In [52]:
X_test = departments_and_time.loc[test_y_cols,:].values

In [53]:
y_probas = xgb.predict_proba(X_test)

In [55]:
y_probas.shape

(95674, 38)

In [ ]:
#test = pd.read_csv('./test.csv')

In [69]:
col_names = ['TripType_' + str(c) for c in enc.classes_]
submission = pd.DataFrame(np.round(y_probas, 3), index=test_y_cols, columns = col_names)

In [70]:
submission.head()

,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_12,TripType_14,TripType_15,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,0.001,0.001,0.001,0.001,0.007,0.022,0.018,0.001,0.001,0.002,...,0.001,0.002,0.110,0.123,0.001,0.008,0.007,0.004,0.002,0.093
2,0.001,0.001,0.001,0.002,0.012,0.025,0.006,0.002,0.001,0.021,...,0.004,0.001,0.029,0.101,0.001,0.002,0.012,0.006,0.001,0.012
3,0.000,0.000,0.000,0.000,0.000,0.001,0.001,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.996
4,0.001,0.001,0.002,0.001,0.005,0.081,0.827,0.000,0.000,0.001,...,0.001,0.000,0.001,0.001,0.000,0.000,0.001,0.001,0.000,0.029
6,0.000,0.000,0.000,0.000,0.000,0.001,0.001,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.996

In [71]:
submission.reset_index(inplace = True)

submission.to_csv('Walmart_submission_XGB_Simple_DepartmentsAndTotal-1.csv', index=False)

In [73]:
y_pred = xgb.predict(X_train)

In [76]:
#cm = confusion_matrix(y_train,y_pred)
#plt.imshow(cm,cmap=plt.cm.Blues)

In [82]:
#Generate confusion matrix to look at in excel

cm_df = pd.DataFrame(cm, index = enc.classes_, columns=enc.classes_)
cm_df.to_csv('Walmart_Confusion_Matrix.csv')