In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from collections import Counter
from sklearn.decomposition import RandomizedPCA
from sklearn.naive_bayes import MultinomialNB
#from sklearn.svm import SVC

%matplotlib inline

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [3]:
train.shape

(647054, 7)

In [4]:
# http://blog.8thandwalton.com/2014/06/supplier-glossary-fineline/

In [5]:
train.head(20)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017
5,26,8,Friday,2006618783,2,PAINT AND ACCESSORIES,1017
6,26,8,Friday,2006613743,1,PAINT AND ACCESSORIES,1017
7,26,8,Friday,7004802737,1,PAINT AND ACCESSORIES,2802
8,26,8,Friday,2238495318,1,PAINT AND ACCESSORIES,4501
9,26,8,Friday,2238400200,-1,PAINT AND ACCESSORIES,3565
10,26,8,Friday,5200010239,1,DSD GROCERY,4606
11,26,8,Friday,88679300501,2,PAINT AND ACCESSORIES,3504
12,26,8,Friday,22006000000,1,MEAT - FRESH & FROZEN,6009
13,26,8,Friday,2236760452,1,PAINT AND ACCESSORIES,7
14,26,8,Friday,88679300501,-1,PAINT AND ACCESSORIES,3504
15,26,8,Friday,2238400200,2,PAINT AND ACCESSORIES,3565
16,26,8,Friday,3019294203,1,PAINT AND ACCESSORIES,2801
17,26,8,Friday,72450408840,1,PAINT AND ACCESSORIES,1028
18,26,8,Friday,25541500000,2,DAIRY,1305
19,26,8,Friday,2310010776,1,PETS AND SUPPLIES,3300

In [6]:
#Counter(train.TripType)

In [7]:
#Counter(train.DepartmentDescription)

In [8]:
train.Upc.nunique()

97714

In [9]:
train.VisitNumber.nunique()

95674

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 647054 entries, 0 to 647053
Data columns (total 7 columns):
TripType                 647054 non-null int64
VisitNumber              647054 non-null int64
Weekday                  647054 non-null object
Upc                      642925 non-null float64
ScanCount                647054 non-null int64
DepartmentDescription    645693 non-null object
FinelineNumber           642925 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 39.5+ MB

In [11]:
test.head()

,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,1,Friday,72503389714,1,SHOES,3002
1,1,Friday,1707710732,1,DAIRY,1526
2,1,Friday,89470001026,1,DAIRY,1431
3,1,Friday,88491211470,1,GROCERY DRY GOODS,3555
4,2,Friday,2840015224,1,DSD GROCERY,4408

In [12]:
train.Upc.nunique()

97714

In [13]:
train.VisitNumber.nunique()

95674

In [14]:
Counter(train.TripType)

Counter({3: 6827,
         4: 901,
         5: 13836,
         6: 3405,
         7: 23199,
         8: 22844,
         9: 16820,
         12: 2108,
         14: 35,
         15: 7147,
         18: 2977,
         19: 1188,
         20: 3116,
         21: 4032,
         22: 3592,
         23: 325,
         24: 18015,
         25: 27609,
         26: 2507,
         27: 4613,
         28: 2664,
         29: 2105,
         30: 4861,
         31: 1765,
         32: 13843,
         33: 9918,
         34: 4751,
         35: 12501,
         36: 21990,
         37: 38954,
         38: 29565,
         39: 95504,
         40: 174164,
         41: 5508,
         42: 19468,
         43: 6383,
         44: 20424,
         999: 17590})

In [15]:
#train.loc[train.FinelineNumber == 1]

In [16]:
train.FinelineNumber.nunique()

5195

In [17]:
Counter(train.DepartmentDescription)

Counter({nan: 1361,
         '1-HR PHOTO': 394,
         'ACCESSORIES': 1318,
         'AUTOMOTIVE': 5414,
         'BAKERY': 7168,
         'BATH AND SHOWER': 4582,
         'BEAUTY': 14865,
         'BEDDING': 2307,
         'BOOKS AND MAGAZINES': 992,
         'BOYS WEAR': 3892,
         'BRAS & SHAPEWEAR': 2036,
         'CAMERAS AND SUPPLIES': 221,
         'CANDY, TOBACCO, COOKIES': 9808,
         'CELEBRATION': 8698,
         'COMM BREAD': 15244,
         'CONCEPT STORES': 35,
         'COOK AND DINE': 7600,
         'DAIRY': 43820,
         'DSD GROCERY': 68332,
         'ELECTRONICS': 3190,
         'FABRICS AND CRAFTS': 5051,
         'FINANCIAL SERVICES': 10723,
         'FROZEN FOODS': 21101,
         'FURNITURE': 477,
         'GIRLS WEAR, 4-6X  AND 7-14': 4516,
         'GROCERY DRY GOODS': 70402,
         'HARDWARE': 4913,
         'HEALTH AND BEAUTY AIDS': 2,
         'HOME DECOR': 4167,
         'HOME MANAGEMENT': 6349,
         'HORTICULTURE AND ACCESS': 2893,
         'HOUSEHOLD CHEMICALS/SUPP': 24880,
         'HOUSEHOLD PAPER GOODS': 16274,
         'IMPULSE MERCHANDISE': 28712,
         'INFANT APPAREL': 6051,
         'INFANT CONSUMABLE HARDLINES': 10646,
         'JEWELRY AND SUNGLASSES': 2526,
         'LADIES SOCKS': 775,
         'LADIESWEAR': 8721,
         'LARGE HOUSEHOLD GOODS': 77,
         'LAWN AND GARDEN': 5269,
         'LIQUOR,WINE,BEER': 3861,
         'MEAT - FRESH & FROZEN': 9477,
         'MEDIA AND GAMING': 1993,
         'MENS WEAR': 12250,
         'MENSWEAR': 338,
         'OFFICE SUPPLIES': 6578,
         'OPTICAL - FRAMES': 579,
         'OPTICAL - LENSES': 85,
         'OTHER DEPARTMENTS': 29,
         'PAINT AND ACCESSORIES': 1720,
         'PERSONAL CARE': 41969,
         'PETS AND SUPPLIES': 9761,
         'PHARMACY OTC': 23306,
         'PHARMACY RX': 2922,
         'PLAYERS AND ELECTRONICS': 686,
         'PLUS AND MATERNITY': 591,
         'PRE PACKED DELI': 9052,
         'PRODUCE': 51115,
         'SEAFOOD': 1923,
         'SEASONAL': 29,
         'SERVICE DELI': 10127,
         'SHEER HOSIERY': 434,
         'SHOES': 6099,
         'SLEEPWEAR/FOUNDATIONS': 2376,
         'SPORTING GOODS': 5087,
         'SWIMWEAR/OUTERWEAR': 860,
         'TOYS': 6107,
         'WIRELESS': 1898})

In [18]:
np.sum(pd.isnull(train.FinelineNumber))

4129

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 647054 entries, 0 to 647053
Data columns (total 7 columns):
TripType                 647054 non-null int64
VisitNumber              647054 non-null int64
Weekday                  647054 non-null object
Upc                      642925 non-null float64
ScanCount                647054 non-null int64
DepartmentDescription    645693 non-null object
FinelineNumber           642925 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 39.5+ MB

In [20]:
train.loc[pd.isnull(train.DepartmentDescription)] #Nans in

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
25,26,8,Friday,NaN,1,NaN,NaN
548,27,259,Friday,NaN,3,NaN,NaN
549,27,259,Friday,NaN,1,NaN,NaN
959,999,409,Friday,NaN,-1,NaN,NaN
1116,39,479,Friday,NaN,1,NaN,NaN
1134,999,484,Friday,NaN,-2,NaN,NaN
1135,999,484,Friday,NaN,-2,NaN,NaN
1926,32,845,Friday,NaN,1,NaN,NaN
1927,32,845,Friday,NaN,1,NaN,NaN
2294,40,1004,Friday,NaN,1,NaN,NaN
2850,40,1179,Friday,NaN,1,NaN,NaN
3096,44,1236,Friday,NaN,1,NaN,NaN
4075,36,1627,Friday,NaN,1,NaN,NaN
4326,15,1664,Friday,NaN,-1,NaN,NaN
4327,15,1664,Friday,NaN,1,NaN,NaN
6285,999,2245,Friday,NaN,-1,NaN,NaN
6585,32,2339,Friday,NaN,1,NaN,NaN
8218,38,2881,Friday,NaN,1,NaN,NaN
8524,999,3004,Friday,NaN,1,NaN,NaN
9092,9,3148,Friday,NaN,1,NaN,NaN
9094,999,3149,Friday,NaN,1,NaN,NaN
9159,38,3173,Friday,NaN,1,NaN,NaN
9194,39,3179,Friday,NaN,1,NaN,NaN
9282,32,3208,Friday,NaN,1,NaN,NaN
9320,40,3217,Friday,NaN,1,NaN,NaN
9321,40,3217,Friday,NaN,1,NaN,NaN
9322,40,3217,Friday,NaN,1,NaN,NaN
9960,40,3381,Friday,NaN,1,NaN,NaN
10714,40,3594,Friday,NaN,1,NaN,NaN
11038,9,3701,Friday,NaN,1,NaN,NaN
...,...,...,...,...,...,...,...
634019,40,188234,Sunday,NaN,1,NaN,NaN
634292,32,188267,Sunday,NaN,1,NaN,NaN
634700,999,188355,Sunday,NaN,-1,NaN,NaN
634849,44,188391,Sunday,NaN,1,NaN,NaN
635721,40,188580,Sunday,NaN,1,NaN,NaN
635879,39,188619,Sunday,NaN,1,NaN,NaN
636090,44,188673,Sunday,NaN,1,NaN,NaN
636372,8,188743,Sunday,NaN,1,NaN,NaN
636444,999,188760,Sunday,NaN,-1,NaN,NaN
636499,40,188775,Sunday,NaN,1,NaN,NaN
636882,25,188898,Sunday,NaN,4,NaN,NaN
636883,25,188898,Sunday,NaN,2,NaN,NaN
636884,25,188898,Sunday,NaN,-2,NaN,NaN
636885,25,188898,Sunday,NaN,1,NaN,NaN
636886,25,188898,Sunday,NaN,1,NaN,NaN
636918,40,188901,Sunday,NaN,1,NaN,NaN
637067,40,188907,Sunday,NaN,2,NaN,NaN
637068,40,188907,Sunday,NaN,3,NaN,NaN
637069,40,188907,Sunday,NaN,2,NaN,NaN
639106,39,189509,Sunday,NaN,1,NaN,NaN
640573,33,189818,Sunday,NaN,1,NaN,NaN
642017,40,190133,Sunday,NaN,1,NaN,NaN
642236,999,190182,Sunday,NaN,-1,NaN,NaN
642499,40,190230,Sunday,NaN,1,NaN,NaN
642784,39,190309,Sunday,NaN,1,NaN,NaN
643137,41,190408,Sunday,NaN,1,NaN,NaN
643991,44,190651,Sunday,NaN,1,NaN,NaN
645990,44,191080,Sunday,NaN,-1,NaN,NaN
645991,44,191080,Sunday,NaN,1,NaN,NaN
645992,44,191080,Sunday,NaN,1,NaN,NaN

In [21]:
train[train.VisitNumber == 8]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017
5,26,8,Friday,2006618783,2,PAINT AND ACCESSORIES,1017
6,26,8,Friday,2006613743,1,PAINT AND ACCESSORIES,1017
7,26,8,Friday,7004802737,1,PAINT AND ACCESSORIES,2802
8,26,8,Friday,2238495318,1,PAINT AND ACCESSORIES,4501
9,26,8,Friday,2238400200,-1,PAINT AND ACCESSORIES,3565
10,26,8,Friday,5200010239,1,DSD GROCERY,4606
11,26,8,Friday,88679300501,2,PAINT AND ACCESSORIES,3504
12,26,8,Friday,22006000000,1,MEAT - FRESH & FROZEN,6009
13,26,8,Friday,2236760452,1,PAINT AND ACCESSORIES,7
14,26,8,Friday,88679300501,-1,PAINT AND ACCESSORIES,3504
15,26,8,Friday,2238400200,2,PAINT AND ACCESSORIES,3565
16,26,8,Friday,3019294203,1,PAINT AND ACCESSORIES,2801
17,26,8,Friday,72450408840,1,PAINT AND ACCESSORIES,1028
18,26,8,Friday,25541500000,2,DAIRY,1305
19,26,8,Friday,2310010776,1,PETS AND SUPPLIES,3300
20,26,8,Friday,72450403700,2,PAINT AND ACCESSORIES,1018
21,26,8,Friday,7874204967,1,HOUSEHOLD CHEMICALS/SUPP,707
22,26,8,Friday,5114139038,1,PAINT AND ACCESSORIES,4415
23,26,8,Friday,5114197561,1,PAINT AND ACCESSORIES,4415
24,26,8,Friday,3270011053,3,PETS AND SUPPLIES,1001
25,26,8,Friday,NaN,1,NaN,NaN

In [22]:
train.loc[pd.isnull(train.FinelineNumber)] #Nans in

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
25,26,8,Friday,NaN,1,NaN,NaN
548,27,259,Friday,NaN,3,NaN,NaN
549,27,259,Friday,NaN,1,NaN,NaN
959,999,409,Friday,NaN,-1,NaN,NaN
1116,39,479,Friday,NaN,1,NaN,NaN
1134,999,484,Friday,NaN,-2,NaN,NaN
1135,999,484,Friday,NaN,-2,NaN,NaN
1155,44,496,Friday,NaN,1,PHARMACY RX,NaN
1216,5,521,Friday,NaN,1,PHARMACY RX,NaN
1373,5,585,Friday,NaN,1,PHARMACY RX,NaN
1455,5,619,Friday,NaN,1,PHARMACY RX,NaN
1456,5,619,Friday,NaN,1,PHARMACY RX,NaN
1457,5,619,Friday,NaN,1,PHARMACY RX,NaN
1819,5,787,Friday,NaN,1,PHARMACY RX,NaN
1926,32,845,Friday,NaN,1,NaN,NaN
1927,32,845,Friday,NaN,1,NaN,NaN
2031,5,897,Friday,NaN,1,PHARMACY RX,NaN
2032,5,897,Friday,NaN,1,PHARMACY RX,NaN
2294,40,1004,Friday,NaN,1,NaN,NaN
2399,5,1036,Friday,NaN,1,PHARMACY RX,NaN
2478,5,1064,Friday,NaN,1,PHARMACY RX,NaN
2566,5,1073,Friday,NaN,1,PHARMACY RX,NaN
2826,5,1170,Friday,NaN,1,PHARMACY RX,NaN
2850,40,1179,Friday,NaN,1,NaN,NaN
3096,44,1236,Friday,NaN,1,NaN,NaN
3369,9,1355,Friday,NaN,1,PHARMACY RX,NaN
3491,5,1392,Friday,NaN,1,PHARMACY RX,NaN
3524,5,1402,Friday,NaN,1,PHARMACY RX,NaN
3619,5,1425,Friday,NaN,1,PHARMACY RX,NaN
3729,5,1487,Friday,NaN,1,PHARMACY RX,NaN
...,...,...,...,...,...,...,...
636005,5,188661,Sunday,NaN,1,PHARMACY RX,NaN
636090,44,188673,Sunday,NaN,1,NaN,NaN
636372,8,188743,Sunday,NaN,1,NaN,NaN
636444,999,188760,Sunday,NaN,-1,NaN,NaN
636499,40,188775,Sunday,NaN,1,NaN,NaN
636715,5,188839,Sunday,NaN,1,PHARMACY RX,NaN
636716,5,188839,Sunday,NaN,1,PHARMACY RX,NaN
636717,5,188839,Sunday,NaN,1,PHARMACY RX,NaN
636847,5,188896,Sunday,NaN,1,PHARMACY RX,NaN
636882,25,188898,Sunday,NaN,4,NaN,NaN
636883,25,188898,Sunday,NaN,2,NaN,NaN
636884,25,188898,Sunday,NaN,-2,NaN,NaN
636885,25,188898,Sunday,NaN,1,NaN,NaN
636886,25,188898,Sunday,NaN,1,NaN,NaN
636918,40,188901,Sunday,NaN,1,NaN,NaN
637067,40,188907,Sunday,NaN,2,NaN,NaN
637068,40,188907,Sunday,NaN,3,NaN,NaN
637069,40,188907,Sunday,NaN,2,NaN,NaN
637198,5,188940,Sunday,NaN,1,PHARMACY RX,NaN
639106,39,189509,Sunday,NaN,1,NaN,NaN
640573,33,189818,Sunday,NaN,1,NaN,NaN
642017,40,190133,Sunday,NaN,1,NaN,NaN
642236,999,190182,Sunday,NaN,-1,NaN,NaN
642499,40,190230,Sunday,NaN,1,NaN,NaN
642784,39,190309,Sunday,NaN,1,NaN,NaN
643137,41,190408,Sunday,NaN,1,NaN,NaN
643991,44,190651,Sunday,NaN,1,NaN,NaN
645990,44,191080,Sunday,NaN,-1,NaN,NaN
645991,44,191080,Sunday,NaN,1,NaN,NaN
645992,44,191080,Sunday,NaN,1,NaN,NaN

In [23]:
print min(train.FinelineNumber), max(train.FinelineNumber)

0.0 9998.0

In [24]:
train.loc[train.FinelineNumber == 9998]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
401,31,209,Friday,68113102889,1,WIRELESS,9998
1533,31,666,Friday,68113102888,2,IMPULSE MERCHANDISE,9998
1644,31,724,Friday,68113102889,1,WIRELESS,9998
1937,31,848,Friday,68113102889,1,WIRELESS,9998
2757,31,1137,Friday,68113102889,1,WIRELESS,9998
6034,31,2181,Friday,68113102889,1,WIRELESS,9998
6328,40,2267,Friday,68113102889,1,WIRELESS,9998
9896,40,3378,Friday,68113102889,1,WIRELESS,9998
18811,31,5936,Friday,68113102889,2,WIRELESS,9998
19433,31,6086,Friday,68113102889,1,WIRELESS,9998
20209,31,6344,Saturday,68113102889,1,WIRELESS,9998
20381,31,6449,Saturday,68113102889,1,WIRELESS,9998
20661,31,6559,Saturday,68113102889,1,WIRELESS,9998
20981,31,6692,Saturday,68113102889,1,WIRELESS,9998
23974,31,7548,Saturday,68113102889,1,WIRELESS,9998
25283,31,7911,Saturday,68113102889,1,WIRELESS,9998
31532,31,9625,Saturday,68113102889,1,WIRELESS,9998
32061,31,9752,Saturday,68113102889,1,WIRELESS,9998
32542,31,9924,Saturday,68113102889,1,WIRELESS,9998
34746,9,10459,Saturday,68113102889,1,WIRELESS,9998
37185,9,11057,Saturday,68113102888,1,IMPULSE MERCHANDISE,9998
37336,22,11110,Saturday,68113102889,1,WIRELESS,9998
37824,31,11241,Saturday,68113102889,1,WIRELESS,9998
38400,31,11427,Saturday,68113102888,1,IMPULSE MERCHANDISE,9998
38839,31,11539,Saturday,68113102889,2,WIRELESS,9998
38841,31,11539,Saturday,68113102889,-1,WIRELESS,9998
39309,31,11675,Saturday,68113102889,1,WIRELESS,9998
41339,31,12264,Saturday,68113102888,1,IMPULSE MERCHANDISE,9998
41606,31,12337,Saturday,68113102889,1,WIRELESS,9998
42038,31,12466,Saturday,68113102889,1,WIRELESS,9998
...,...,...,...,...,...,...,...
588485,31,175795,Friday,68113102889,1,WIRELESS,9998
592230,31,176850,Friday,68113102889,1,WIRELESS,9998
593317,31,177121,Friday,68113102888,1,IMPULSE MERCHANDISE,9998
593814,31,177250,Friday,68113102889,1,WIRELESS,9998
595608,31,177678,Friday,68113102889,1,WIRELESS,9998
596784,31,178052,Saturday,68113102889,1,WIRELESS,9998
601719,31,179584,Saturday,68113102889,1,WIRELESS,9998
601949,31,179673,Saturday,68113102889,1,WIRELESS,9998
601992,31,179687,Saturday,68113102889,1,WIRELESS,9998
610202,9,181886,Saturday,68113102889,1,WIRELESS,9998
614046,31,182944,Saturday,68113102889,1,WIRELESS,9998
615499,31,183312,Saturday,68113102889,1,WIRELESS,9998
615826,22,183419,Saturday,68113102889,1,WIRELESS,9998
617046,31,183800,Saturday,68113102889,1,WIRELESS,9998
619911,999,184640,Sunday,68113102889,-1,WIRELESS,9998
619912,999,184640,Sunday,68113102889,1,WIRELESS,9998
620009,30,184676,Sunday,68113102889,1,WIRELESS,9998
620787,31,184880,Sunday,68113102889,1,WIRELESS,9998
621839,31,185139,Sunday,68113102889,1,WIRELESS,9998
622963,31,185442,Sunday,68113102889,1,WIRELESS,9998
623799,31,185652,Sunday,68113102889,1,WIRELESS,9998
625734,42,186209,Sunday,68113102889,1,WIRELESS,9998
625746,31,186210,Sunday,68113102889,1,WIRELESS,9998
627446,31,186615,Sunday,68113102889,1,WIRELESS,9998
632848,31,187940,Sunday,68113102889,1,WIRELESS,9998
638914,31,189462,Sunday,68113102889,1,WIRELESS,9998
638925,31,189475,Sunday,68113102888,1,IMPULSE MERCHANDISE,9998
643197,31,190433,Sunday,68113102889,1,WIRELESS,9998
646286,31,191145,Sunday,68113102889,1,WIRELESS,9998
646888,42,191312,Sunday,68113102889,1,WIRELESS,9998

In [25]:
train.groupby(['TripType','Weekday']).count()

                    VisitNumber   Upc  ScanCount  DepartmentDescription  \
TripType Weekday
3        Friday            1408  1408       1408                   1408
         Monday             830   830        830                    830
         Saturday          1168  1167       1168                   1167
         Sunday             901   901        901                    901
         Thursday           760   760        760                    760
         Tuesday            864   860        864                    860
         Wednesday          896   896        896                    896
4        Friday             154   150        154                    153
         Monday             111   111        111                    111
         Saturday           164   164        164                    164
         Sunday             151   151        151                    151
         Thursday           106   106        106                    106
         Tuesday             96    96         96                     96
         Wednesday          119   118        119                    119
5        Friday            2180  1765       2180                   2180
         Monday            1816  1464       1816                   1812
         Saturday          2364  1966       2364                   2359
         Sunday            1804  1558       1804                   1802
         Thursday          1821  1462       1821                   1821
         Tuesday           1854  1468       1854                   1853
         Wednesday         1997  1570       1997                   1996
6        Friday             656   655        656                    655
         Monday             336   336        336                    336
         Saturday           856   855        856                    855
         Sunday             442   442        442                    442
         Thursday           378   378        378                    378
         Tuesday            351   351        351                    351
         Wednesday          386   385        386                    385
7        Friday            3235  3233       3235                   3234
         Monday            3298  3292       3298                   3292
...                         ...   ...        ...                    ...
41       Tuesday            421   419        421                    419
         Wednesday          501   500        501                    500
42       Friday            2910  2907       2910                   2907
         Monday            2036  2034       2036                   2034
         Saturday          4033  4019       4033                   4020
         Sunday            4183  4169       4183                   4169
         Thursday          2164  2158       2164                   2158
         Tuesday           1981  1976       1981                   1976
         Wednesday         2161  2155       2161                   2155
43       Friday            1125  1120       1125                   1122
         Monday             834   828        834                    830
         Saturday          1216  1213       1216                   1215
         Sunday            1161  1157       1161                   1158
         Thursday           624   620        624                    623
         Tuesday            640   633        640                    635
         Wednesday          783   774        783                    780
44       Friday            2902  2896       2902                   2897
         Monday            2239  2232       2239                   2233
         Saturday          4474  4463       4474                   4464
         Sunday            4230  4215       4230                   4215
         Thursday          2150  2142       2150                   2142
         Tuesday           1876  1865       1876                   1865
         Wednesday         2553  2548       2553                   2548
999      Friday            2756  2703       2756                   2715
         Monday            2350  2294       2350                   2310
         Saturday          2946  2899       2946                   2913
         Sunday            2939  2872       2939                   2876
         Thursday          2139  2101       2139                   2118
         Tuesday           2236  2185       2236                   2214
         Wednesday         2224  2184       2224                   2197

                    FinelineNumber
TripType Weekday
3        Friday               1408
         Monday                830
         Saturday             1167
         Sunday                901
         Thursday              760
         Tuesday               860
         Wednesday             896
4        Friday                150
         Monday                111
         Saturday              164
         Sunday                151
         Thursday              106
         Tuesday                96
         Wednesday             118
5        Friday               1765
         Monday               1464
         Saturday             1966
         Sunday               1558
         Thursday             1462
         Tuesday              1468
         Wednesday            1570
6        Friday                655
         Monday                336
         Saturday              855
         Sunday                442
         Thursday              378
         Tuesday               351
         Wednesday             385
7        Friday               3233
         Monday               3292
...                            ...
41       Tuesday               419
         Wednesday             500
42       Friday               2907
         Monday               2034
         Saturday             4019
         Sunday               4169
         Thursday             2158
         Tuesday              1976
         Wednesday            2155
43       Friday               1120
         Monday                828
         Saturday             1213
         Sunday               1157
         Thursday              620
         Tuesday               633
         Wednesday             774
44       Friday               2896
         Monday               2232
         Saturday             4463
         Sunday               4215
         Thursday             2142
         Tuesday              1865
         Wednesday            2548
999      Friday               2703
         Monday               2294
         Saturday             2899
         Sunday               2872
         Thursday             2101
         Tuesday              2185
         Wednesday            2184

[262 rows x 5 columns]

In [26]:
train.Upc.fillna(-100, inplace=True)
train.DepartmentDescription.fillna('Unknown', inplace=True)
train.FinelineNumber.fillna(-100, inplace=True)

test.Upc.fillna(-100, inplace=True)
test.DepartmentDescription.fillna('Unknown', inplace=True)
test.FinelineNumber.fillna(-100, inplace=True)

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 647054 entries, 0 to 647053
Data columns (total 7 columns):
TripType                 647054 non-null int64
VisitNumber              647054 non-null int64
Weekday                  647054 non-null object
Upc                      647054 non-null float64
ScanCount                647054 non-null int64
DepartmentDescription    647054 non-null object
FinelineNumber           647054 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 39.5+ MB

In [28]:
train['FinelineNumber'] = train['FinelineNumber'].astype('int')
test['FinelineNumber'] = test['FinelineNumber'].astype('int')

In [29]:
train['DeptItems'] = train.DepartmentDescription +' ' + train.FinelineNumber.astype('str')
test['DeptItems'] = test.DepartmentDescription +' ' + test.FinelineNumber.astype('str')

In [30]:
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber,DeptItems
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000,FINANCIAL SERVICES 1000
1,30,7,Friday,60538815980,1,SHOES,8931,SHOES 8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504,PERSONAL CARE 4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565,PAINT AND ACCESSORIES 3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017,PAINT AND ACCESSORIES 1017

In [31]:
train_pivot = pd.pivot_table(train, values='ScanCount', index='VisitNumber',columns='DeptItems')

In [32]:
train_pivot.shape

(95674, 10490)

In [33]:
train_pivot.fillna(0, inplace = True)

In [34]:
train_pivot.head()

DeptItems,1-HR PHOTO 110,1-HR PHOTO 120,1-HR PHOTO 130,1-HR PHOTO 141,1-HR PHOTO 150,1-HR PHOTO 160,1-HR PHOTO 170,1-HR PHOTO 180,1-HR PHOTO 190,1-HR PHOTO 8021,...,WIRELESS 870,WIRELESS 880,WIRELESS 890,WIRELESS 9,WIRELESS 940,WIRELESS 950,WIRELESS 965,WIRELESS 970,WIRELESS 990,WIRELESS 9998
VisitNumber,,,,,,,,,,,,,,,,,,,,,
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
train.set_index(train.VisitNumber, inplace = True)

In [36]:
train_visit_type = train.loc[train_pivot.index, ['TripType']]

In [37]:
train_visit_type.reset_index(inplace=True)

In [38]:
train_visit_type.drop_duplicates('VisitNumber', inplace=True)

In [39]:
train_visit_type.tail()

        VisitNumber  TripType
647010       191343        25
647017       191344        22
647022       191345        39
647035       191346        39
647052       191347         8

In [40]:
train_pivot.tail()

DeptItems,1-HR PHOTO 110,1-HR PHOTO 120,1-HR PHOTO 130,1-HR PHOTO 141,1-HR PHOTO 150,1-HR PHOTO 160,1-HR PHOTO 170,1-HR PHOTO 180,1-HR PHOTO 190,1-HR PHOTO 8021,...,WIRELESS 870,WIRELESS 880,WIRELESS 890,WIRELESS 9,WIRELESS 940,WIRELESS 950,WIRELESS 965,WIRELESS 970,WIRELESS 990,WIRELESS 9998
VisitNumber,,,,,,,,,,,,,,,,,,,,,
191343,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191345,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191347,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = train_pivot.values
y = train_visit_type['TripType'].values

In [ ]:
pca = RandomizedPCA(n_components=1000)
pca.fit(X)
X_transformed = pca.transform(X)

# svc = SVC(kernel='linear', probability=True)
# svc.fit(X_transformed, y)
# svc.score(X_transformed,y)

In [ ]:
#pca.